body {
    background-image: linear-gradient(90deg, rgb(255, 255, 255), rgb(174, 27, 27));
    background-image: url("Paris.jpg.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("Parisfundo.jpg");
    opacity: 0.5;
    }
h1 { 
    color: red;
    text-shadow: -7px -7px 5px green;
    }
h2{
    font-weight: bold;
    }
#negrito{
    font-weight: bold;
    }
.t1, h2 {
    text-decoration: underline;
    color: blue;
    text-indent: 5px;
    margin-top: 0px;
    }
.t2, h1{
    text-align: center;
    letter-spacing:2px;
    }
p{
    font-weight: bold;
    font-family: sans-serif, Haettenschweiler, 'Arial', sans-serif;
    font-style: normal;
    }
    